/*
GENERAL STYLINGS:
*/


#wrapper {
    position: relative;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0;
}

#project-div {
    width: 150vh;
    height: 71vh;
    border: 1px solid black;
    position: relative;
}

/*
Style the squares on the grid to represent scrabble grid:
*/
.double-letter{
    background-color: lightblue;
}

.triple-letter{
    background-color: rgb(105, 105, 139);
}

.double-word{
    background-color: rgb(247, 146, 163);
}

.triple-word{
    background-color: rgb(238, 58, 58);
}
.start-square{
    background-color: gold;
}


/*
LETTER STYLINGS:
*/


#letters-section {
    position: absolute;
    width: 17vh;
    height: 69.5vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,.1fr);
    grid-auto-rows: minmax(20px, auto);
    gap: 10px;
    padding: 5px;
}

.letter-container {
    position: relative;
    width: 35px;
    height: 35px; 
}

.letter {
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.point-value {
    position: absolute;
    bottom: 6.5px;  
    right: 17.5px;
    font-size: 10px; 
    line-height: 1;
    transform: translate(50%, 50%); 
}


/*
BOARD STYLINGS:
*/


#board {
    position: absolute;
    left: 13.5%;
    top: 50%; 
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(15, 35px);
    grid-template-rows: repeat(15, 35px);
    gap: 1px;
}

.grid-item {
    width: 35px;
    height: 35px;
    border: 1px solid black;
}
