body {
    position: relative;
    height: 100vh;
    display: flex; /* Added for centering #project-div */
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default margin */
}

#project-div {
    width: 150vh; /* Or adjust as needed */
    height: 70vh; /* Or adjust as needed */
    border: 1px solid black;
    position: relative;
}

#letters-section {
    position: absolute;
    width: 18vh;
    height: 70vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,.1fr);
    grid-auto-rows: minmax(20px, auto);
    gap: 10px;
}

.letter-container {
    position: relative; /* Allows absolute positioning inside */
    width: 35px; /* Width of the container */
    height: 35px; /* Height of the container */
}

.letter {
    position: absolute; /* Overlay letters on top of each other */
    margin: 5px;
    width: 35px; /* Width of each letter tile */
    height: 35px; /* Height of each letter tile */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* Add other styling as needed */
}

.point-value {
    position: absolute;
    bottom: 5px;  /* Adjust this value to bring subscript closer vertically */
    right: 18px;  /* Adjust this value to bring subscript closer horizontally */
    font-size: 10px; /* Smaller font size for subscript */
    line-height: 1;
    transform: translate(50%, 50%); /* Adjusts position relative to bottom-right corner */
}

